In [75]:
import pandas as pd
import cx_Oracle as oci
conn = oci.connect('admin/1234@192.168.99.100:32764/xe',encoding='utf-8')
df = pd.read_sql_query('SELECT * FROM BUS',conn)

In [44]:
# df_pivot = df.pivot_table('운행횟수',columns='시군구',index='버스번호',aggfunc='sum')
# df_pivot

시군구,강서구,거제시,금정구,기장군,김해시,남구,동구,동래구,부산진구,북구,...,사하구,서구,수영구,양산시,연제구,영도구,울주군,중구,창원시 진해구,해운대구
버스번호,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,753.571429,NaN,...,NaN,NaN,1306.190476,NaN,401.904762,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,3648.0,342.0,2964.000000,2052.000000,NaN,...,NaN,NaN,NaN,NaN,3192.000000,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,790.000000,1817.0,NaN,NaN,NaN,1817.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,1501.000000,NaN,NaN,NaN,NaN,4108.000000
100-1,NaN,NaN,1062.947368,NaN,NaN,NaN,NaN,1546.105263,NaN,NaN,...,NaN,NaN,NaN,NaN,2512.421053,NaN,NaN,NaN,NaN,5024.842105
1000,NaN,NaN,NaN,NaN,NaN,NaN,656.0,NaN,820.000000,NaN,...,4182.0,164.0,NaN,NaN,NaN,NaN,NaN,164.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
해운대구3-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
해운대구3-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
해운대구7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
해운대구8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
해운대구9,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000

In [77]:
df.groupby('버스번호').count()

          NO  정류장이름   시도  시군구  읍면동    X    Y  BUSTOPID  운행횟수  첫차시간  막차시간
버스번호
1         49     49   49   49   49   49   49        49    49    49    49
10       107    107  107  107  107  107  107       107   107   107   107
100      127    127  127  127  127  127  127       127   127   127   127
100-1    105    105  105  105  105  105  105       105   105   105   105
1000      73     73   73   73   73   73   73        73    73    73    73
...      ...    ...  ...  ...  ...  ...  ...       ...   ...   ...   ...
해운대구3-1   34     34   34   34   34   34   34        34     0     0     0
해운대구3-2   23     23   23   23   23   23   23        23     0     0     0
해운대구7     37     37   37   37   37   37   37        37     0     0     0
해운대구8     26     26   26   26   26   26   26        26     0     0     0
해운대구9     31     31   31   31   31   31   31        31     0     0     0

[315 rows x 11 columns]

In [83]:
df2 = df.drop_duplicates(['버스번호','시군구']).groupby('시군구').count()
df3 = df2.drop(['거제시','김해시','양산시','창원시 진해구','울주군'])
df3

      NO  버스번호  정류장이름  시도  읍면동   X   Y  BUSTOPID  운행횟수  첫차시간  막차시간
시군구
강서구   44    44     44  44   44  44  44        44    23    23    23
금정구   55    55     55  55   55  55  55        55    40    40    40
기장군   63    63     63  63   63  63  63        63    37    37    37
남구    44    44     44  44   44  44  44        44    32    32    32
동구    61    61     61  61   61  61  61        61    51    51    51
동래구   62    62     62  62   62  62  62        62    49    49    49
부산진구  88    88     88  88   88  88  88        88    60    60    60
북구    43    43     43  43   43  43  43        43    27    27    27
사상구   55    55     55  55   55  55  55        55    38    38    38
사하구   64    64     64  64   64  64  64        64    35    35    35
서구    55    55     55  55   55  55  55        55    42    42    42
수영구   36    36     36  36   36  36  36        36    29    29    29
연제구   57    57     57  57   57  57  57        57    49    49    49
영도구   26    26     26  26   26  26  26        26    20    20    20
중구    62    62     62  62   62  62  62        62    50    50    50
해운대구  64    64     64  64   64  64  64        64    46    46    46

In [73]:
df = df.groupby('버스번호').count()
df

      NO  정류장이름  시도  읍면동  X  Y  BUSTOPID  운행횟수  첫차시간  막차시간
버스번호
28     1      1   1    1  1  1         1     1     1     1
71     1      1   1    1  1  1         1     1     1     1
213    1      1   1    1  1  1         1     1     1     1
362    1      1   1    1  1  1         1     1     1     1
434    1      1   1    1  1  1         1     1     1     1
532    1      1   1    1  1  1         1     1     1     1
655    1      1   1    1  1  1         1     1     1     1
657    1      1   1    1  1  1         1     1     1     1
676    1      1   1    1  1  1         1     1     1     1
733    1      1   1    1  1  1         1     1     1     1
769    1      1   1    1  1  1         1     1     1     1
810    1      1   1    1  1  1         1     1     1     1
914    1      1   1    1  1  1         1     1     1     1
928    1      1   1    1  1  1         1     1     1     1
1101   1      1   1    1  1  1         1     1     1     1
1114   1      1   1    1  1  1         1     1     1     1
1156   1      1   1    1  1  1         1     1     1     1
1396   1      1   1    1  1  1         1     1     1     1
1505   1      1   1    1  1  1         1     1     1     1
1801   1      1   1    1  1  1         1     1     1     1

In [54]:
df = df.dropna()

In [55]:
df1 = df.drop(['거제시','김해시','양산시','창원시 진해구'])

In [57]:
df2 = df1[['운행횟수']]

In [58]:
df2

            운행횟수
시군구
강서구    35.124578
금정구    90.528328
기장군    40.172581
남구    116.469529
동구    102.205948
동래구    98.101964
부산진구  126.383826
북구    101.602828
사상구   112.904757
사하구    94.067344
서구    114.210982
수영구    95.932060
연제구   109.770564
영도구    90.987237
중구    100.683143
해운대구   87.554298

In [71]:
import pandas as pd
import cx_Oracle as oci
conn = oci.connect('admin/1234@192.168.99.100:32764/xe',encoding='utf-8')
df = pd.read_sql_query('SELECT * FROM BUS',conn)
df = df.dropna()
df = df.groupby('시군구').count()
df1 = df.drop(['거제시','김해시','양산시','창원시 진해구'])
# df2 = df1['운행횟수']
df_tatal['버스운행횟수'] = df2
df1

        NO  버스번호  정류장이름    시도   읍면동     X     Y  BUSTOPID  운행횟수  첫차시간  막차시간
시군구
강서구   1114  1114   1114  1114  1114  1114  1114      1114  1114  1114  1114
금정구    914   914    914   914   914   914   914       914   914   914   914
기장군   1801  1801   1801  1801  1801  1801  1801      1801  1801  1801  1801
남구     733   733    733   733   733   733   733       733   733   733   733
동구     657   657    657   657   657   657   657       657   657   657   657
동래구    928   928    928   928   928   928   928       928   928   928   928
부산진구  1396  1396   1396  1396  1396  1396  1396      1396  1396  1396  1396
북구     810   810    810   810   810   810   810       810   810   810   810
사상구   1156  1156   1156  1156  1156  1156  1156      1156  1156  1156  1156
사하구   1101  1101   1101  1101  1101  1101  1101      1101  1101  1101  1101
서구     676   676    676   676   676   676   676       676   676   676   676
수영구    532   532    532   532   532   532   532       532   532   532   532
연제구    655   655    655   655   655   655   655       655   655   655   655
영도구    769   769    769   769   769   769   769       769   769   769   769
중구     434   434    434   434   434   434   434       434   434   434   434
해운대구  1505  1505   1505  1505  1505  1505  1505      1505  1505  1505  1505

In [86]:
import pandas as pd
import cx_Oracle as oci
conn = oci.connect('admin/1234@192.168.99.100:32764/xe',encoding='utf-8')
df = pd.read_sql_query('SELECT * FROM BUS',conn)
# df = df.dropna()
df2 = df.drop_duplicates(['버스번호','시군구']).groupby('시군구').count()
df3 = df2.drop(['거제시','김해시','양산시','창원시 진해구','울주군'])
df_tatal['구군별버스대수'] = df3

      NO  버스번호  정류장이름  시도  읍면동   X   Y  BUSTOPID  운행횟수  첫차시간  막차시간
시군구
강서구   44    44     44  44   44  44  44        44    23    23    23
금정구   55    55     55  55   55  55  55        55    40    40    40
기장군   63    63     63  63   63  63  63        63    37    37    37
남구    44    44     44  44   44  44  44        44    32    32    32
동구    61    61     61  61   61  61  61        61    51    51    51
동래구   62    62     62  62   62  62  62        62    49    49    49
부산진구  88    88     88  88   88  88  88        88    60    60    60
북구    43    43     43  43   43  43  43        43    27    27    27
사상구   55    55     55  55   55  55  55        55    38    38    38
사하구   64    64     64  64   64  64  64        64    35    35    35
서구    55    55     55  55   55  55  55        55    42    42    42
수영구   36    36     36  36   36  36  36        36    29    29    29
연제구   57    57     57  57   57  57  57        57    49    49    49
영도구   26    26     26  26   26  26  26        26    20    20    20
중구    62    62     62  62   62  62  62        62    50    50    50
해운대구  64    64     64  64   64  64  64        64    46    46    46